<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Usuario</title>
	<!-- Insertar las librerías comunes -->
	    <div th:replace="~{fragmentos/librerias :: librerias}"></div>
</head>
<body>
<div class="container mt-4">
	<div th:insert="~{fragmentos/menusuperior :: menuSuperior}"></div>
    <h1 class="mb-4">Detalle del Usuario</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${user.usuario}">Usuario Ejemplo</h5>
            <p class="card-text">
                <strong>Contraseña:</strong> <span th:text="${user.contrasenia}">contraseña</span>
            </p>
            <p class="card-text">
                <strong>Nombre Completo:</strong> <span th:text="${user.nombreLargo}">Nombre Completo</span>
            </p>
        </div>
    </div>
    <div class="mt-3">
        <a href="/user" class="btn btn-secondary">Volver a la Lista</a>
        <a th:href="@{'/user/updateuser/' + ${user.usuario}}" class="btn btn-warning">Editar</a>
        <a th:href="@{'/user/delete/' + ${user.usuario}}"
           class="btn btn-danger"
           onclick="return confirm('¿Está seguro de eliminar este usuario?');"
           sec:authorize="hasRole('ADMIN')">
            Eliminar
        </a>
    </div>
</div>
</body>
</html>
