<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Astronautas</title>
	<!-- Insertar las librerías comunes -->
	    <div th:replace="~{fragmentos/librerias :: librerias}"></div>
</head>
<body>
	
	<div th:insert="~{fragmentos/menusuperior :: menuSuperior}"></div>
	
    <div class="container mt-5">
			
        <div class="row justify-content-center">
            <!-- Espacio en ambos lados de la tabla -->
            <div class="col-12">
                <div class="table-responsive">
					<table class="table table-hover text-center align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Capacidad</th>
								<th></th>
								<th></th>
								<th></th>
							<th></th>
							</tr>
                        </thead>
                        <tbody>
                            <tr th:each="n: ${naves}">
                                <td th:text="${n.id}">1</td>
                                <td><a 	class="btn btn-primary btn-sm"	th:text="${n.nombre}" th:href="@{/nave/naveUpdate/{id}(id=${n.id})}">Pedro</a></td>
                                <td th:text="${n.capacidad}">25</td>
								<td><a class="btn btn-danger btn-sm" 	th:href="@{/nave/delete/{id}(id=${n.id})}"><span class="bi bi-trash"></span></a></td>
								<td><a class="btn btn-primary btn-sm" 	th:href="@{/nave/{id}(id=${n.id})}"><i class="bi bi-file-earmark-text-fill"></i></a></td>
								<td><a class="btn btn-warning btn-sm" 	th:href="@{/nave/dto/{id}(id=${n.id})}"><i class="bi bi-file-earmark-text-fill"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
					<a class="btn btn-primary btn-lg" 	th:href="@{/nave/addNave}"><span class="bi bi-clipboard-plus-fill"></span> </a>
                </div>
            </div>
        </div>
    </div>
    
    


</body>
</html>
