<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error 500 - Error Interno del Servidor</title>
    <!-- Insertar las librerías comunes -->
    <div th:replace="~{fragmentos/librerias :: librerias}"></div>
</head>
<body>
    <div class="container mt-5">
        <!-- Insertar el menú superior -->
        <div th:insert="~{fragmentos/menusuperior :: menuSuperior}"></div>
        <div class="text-center">
            <h1 class="display-1">500</h1>
            <p class="lead">Error interno del servidor. Por favor, inténtalo más tarde.</p>
            <a href="/" class="btn btn-primary">Volver al Inicio</a>
        </div>
    </div>
</body>
</html>
