<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir Astronauta</title>
    <!-- Bootstrap CSS -->
	<!-- Insertar las librerías comunes -->
	    <div th:replace="~{fragmentos/librerias :: librerias}"></div>
</head>
<body>
	
	<div th:insert="~{fragmentos/menusuperior :: menuSuperior}"></div>
	
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center mb-4">Misiones espacial</h2>
            <form th:object="${mision}" th:action="@{/mision/saveMision}" th:method="post">
                <!-- Campo para el ID -->
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input th:field="*{id}" type="number" readonly class="form-control form-control-sm" id="id" name="id" placeholder="Ingrese el ID" required>
                </div>

                <!-- Campo para el nombre -->
                <div class="mb-2">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input th:field="*{nombre}" type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder="Ingrese el nombre" required>
                </div>

                <!-- Campo para la 	fechaInicio -->
                <div class="mb-2">
                    <label for="fechaInicio" class="form-label">Fecha inicio</label>
                    <input th:field="*{fecha_inicio}" type="date" class="form-control form-control-sm" id="fechaInicio" name="fechaInicio" placeholder="Ingrese la fecha incio" required>
                </div>

                <!-- Campo para la 	fechaFin -->
	            <div class="mb-2">
	                 <label for="fechaFin" class="form-label">Fecha fin</label>
	                 <input th:field="*{fecha_fin}" type="date" class="form-control form-control-sm" id="fechaFin" name="fechaFin" placeholder="Ingrese la fecha fin" required>
	            </div>
				
				<div class="d-flex">
				    <!-- Botón de Guardar cambios con más espacio y margen derecho -->
				    <button type="submit" class="btn btn-primary btn-sm flex-grow-2 me-3">Guardar cambios</button>
				    
				    <!-- Botón de Cancelar -->
				    <a th:href="@{/mision}" class="btn btn-danger btn-sm">Cancelar</a>
				</div>
            </form>
        </div>
    </div>
</div>

</body>
</html>

